/* Start Global Rule  */
:root {
	--main-color: #004d80;
	/* --main-color-alt: #1787e0; */
	/* --second-color: #ececec; */
	--btn-color: #ff6f61;
	--background-color: #f5f5f5;
	--big-radius: 15px;
	--small-radius: 10px;
}

body {
	font-family: "Cairo", sans-serif;
	height: 600vh;
	max-width: 100%;

	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.parent {
	overflow-x: hidden;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100vh;
}
.title {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.title h2 {
	position: relative;
	padding-bottom: 10px;
	font-size: 60px;
}
.title p {
	padding-top: 20px;
	padding-bottom: 80px;
	max-width: fit-content;
	text-align: center;
}
.title h2::before {
	content: "";
	position: absolute;
	width: 60%;
	left: 20%;
	height: 2px;
	bottom: 0;
	background-color: var(--main-color);
}
@media (max-width: 500px) {
	.title h2 {
		position: relative;
		padding-bottom: 10px;
		font-size: 40px;
	}
}

.title + .corner {
	position: absolute;
	transform: translate(60%, 50%);
}
@media (max-width: 500px) {
	.title + .corner {
		position: absolute;
		transform: translate(70%, 50%);
		width: 10px;
	}
	.title + .corner svg {
		width: 70px;
		transform: translate(40%, 0%);
	}
}

@media (max-width: 768px) {
	.serv .title + .corner {
		transform: translate(60%, 20%);
	}
}
@media (max-width: 500px) {
	.title + .corner {
		transform: translate(40%, -30%);
	}
}

section {
	padding-top: 150px !important;
	padding-top: 50px;
}

/* Very Small  */
@media (max-width: 768px) {
	.container {
		width: 400px;
		width: calc(100% - 30px);
	}
	.links {
		display: none;
	}
}
/* Very Small  */
@media (max-width: 400px) {
	.container {
		padding-left: 3px;
		padding-right: 5px;
		width: 350px;
		margin: 0 auto;
	}
}
/* Small  */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large  */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rule  */
/* start main page style  */
/* start nav  */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	max-width: 100%;
}

/* menu bar  */
.bar-container .bar-parent {
	width: 300px;
	height: 500px;
	position: absolute;
	overflow: hidden;
	transform: translate(-200px, 0px);
}
.bar-container #bar {
	transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
}
.bar-container #bar ul {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	/* position: absolute; */
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-bottom: 30px;
	backdrop-filter: blur(5px) saturate(70%);
	background-color: #004d80ac;
	border-radius: var(--small-radius);
	/* position: absolute; */
}
.bar-container #bar ul li {
	padding: 10px 20px;
	padding-right: 60px;
	position: relative;
}
.bar-container #bar ul li:not(:last-child)::after {
	content: "";
	position: absolute;
	background-color: white;
	width: 115%;
	height: 1px;
	left: 3px;
	bottom: 0;
}
.bar-container #bar ul li a:hover {
	color: var(--btn-color);
	padding-left: 15px;
}
.bar-container .menu-bar {
	cursor: pointer;
	padding-right: 10px;
	width: 40px;
	height: 40px;
	position: relative;
	background-color: var(--main-color);
	border-radius: var(--small-radius);
	margin-bottom: 5px;
}
.bar-container .menu-bar.active {
	background-color: var(--btn-color);
}
.bar-container .menu-bar div {
	position: absolute;
	background-color: white;
	width: 70%;
	height: 4px;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s;
}

/* animtion  */
.bar-container .menu-bar .bar1 {
	transform: translate(-50%, -13px);
	transition: all 0.3;
}

.bar-container .menu-bar .bar3 {
	transform: translate(-50%, 9px);
	/* transition: all 0.3; */
}
.bar-container .menu-bar .bar1.active {
	transform: translate(-50%, -50%) rotate(45deg);
	/* transition: all 0.3; */
}

.bar-container .menu-bar .bar2.active {
	width: 0;
}
.bar-container .menu-bar .bar3.active {
	transform: translate(-50%, -50%) rotate(-45deg);
	/* transition: all 0.3; */
}
/* animtion  */
@media (min-width: 769px) {
	.bar-container {
		display: none;
	}
}
/* menu bar  */
nav {
	border-bottom: 1px #ddd solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	filter: brightness(100%);
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
}
nav .logo {
	font-size: large;
	font-weight: bold;
	margin-bottom: 5px;
	color: white;
}

nav .links {
	display: flex;
	justify-content: space-around;
}

#bar {
	display: flex;
	flex-direction: row;
	transform: translate(-300px, 0);
}
nav .links > ul {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

nav .contact-btn::before {
	content: "";
	position: absolute;
	height: 80%;
	width: 3px;
	background-color: #000;
	top: 8%;
	right: 130px;
	border-radius: 50px;
}

nav .links > ul li {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

nav .links > ul li::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #ddd;
	bottom: -10.5px;
	left: 0px;
	z-index: 1;
}

nav ul li:hover a {
	color: var(--btn-color);
}

nav ul li:hover::after {
	background-color: var(--btn-color);
}
nav ul li {
	padding-bottom: 5px;
}
nav ul li a {
	text-decoration: none;
	color: #ffffff;
	transition: ease 0.7s;
}
nav .links {
	/* display: flex; */
	align-items: center;
}
nav .links .contact-btn {
	/* height: 25px;
	width: 130px; */
	background-color: var(--main-color);
	border-radius: var(--small-radius);
	border-style: none;
	/*display: grid;
	place-items: center; */
	padding: 11px;
	margin-bottom: 5px;
	transition: ease 0.7s;
	margin-left: 18px;
}
nav .links .contact-btn:hover {
	background-color: var(--btn-color);
}

.contact-btn a {
	color: #f5f5f5;
	text-decoration: none;
	padding: 10px;
}
.text-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

.text-container h2 {
	text-transform: uppercase;
	color: white;
	padding-left: 20px;
	font-size: 50px;
}
.text-container h2 span {
	color: var(--main-color);
}
.text-container p {
	width: 300px;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
	color: white;
	width: 300px;
	margin-top: 10px;
}

.text-container .text {
	backdrop-filter: blur(5px) saturate(70%);
	margin: 0 auto;
}

.video-bck {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0px;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: #4e4848;
}
@media (max-width: 768px) {
	.links > ul:first-child {
		display: none;
	}
}
i.arrow {
	position: absolute;
	color: white;
	font-size: 40px;
	left: calc(50% - 20px);
	text-align: center;
	bottom: 30px;
	/* transform: translateX(-400%); */
}
/* end main  */
/* start servvice */
.serv{
	background-color: #ddd;
}
#service {
	position: relative;
	height: 143vh;
	background-color: #ddd;
}
.service-text {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: 50px;
}

.service-text h2 {
	margin-bottom: 50px;
	font-weight: 600;
	font-size: 32px;
}
.corner {
	position: absolute;
	top: -7%;
	left: 50%;
}
.service-text h2::after {
	content: "";
	width: 130px;
	height: 2px;
	background: #004d80;
	display: block;
	top: 60px;
	position: absolute;
}
.text-container p {
	width: 300px;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
	color: white;
}

.text-container .text {
	backdrop-filter: blur(5px) saturate(70%);
	margin: 0 auto;
}
.cards {
	display: grid;
	gap: 35px;
	row-gap: 100px;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"one two three"
		"four five six"
		"seven eight nine";
}
.cards div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cards > div {
	transition: ease 0.7s;
	padding-top: 25px;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.pic {
	position: relative;
	height: 85px;
	margin-bottom: 20px;
}
.cards div svg {
	margin-bottom: 25px;
}

.cards div .pic::after {
	position: absolute;
	content: "";
	z-index: -1;
	background-color: #ddd;
	border-radius: 50%;
	top: -10px;
	width: 90px;
	height: 90px;
}
.cards div h3 {
	margin-bottom: 25px;
	position: relative;
}
.cards div h3::after {
	content: "";
	position: absolute;
	width: 140px;
	height: 2px;
	background-color: #004d80;
	top: 35px;
	left: 0;
	transition: ease 0.7s;
}
div.jk h3::after {
	width: 165px;
}
div.jm h3::after {
	width: 127px;
}
div.jk:nth-child(2) h3::before {
	content: "5G";
	color: #d1160a;
	right: -30px;
	position: absolute;
	transition: ease 0.7s;
}

div.iio h3::after {
	background-color: #d1160a;
}
div.oo2 h3::after {
	background-color: #229c3d;
}

.cards > .th1:hover {
	background-color: #004d80;
	color: #f5f5f5;
}
div.iio:hover {
	background-color: #d1160a;
	color: #f5f5f5;
}
div.oo2:hover {
	background-color: #229c3d;
	color: #f5f5f5;
}

.cards > div:hover h3::after {
	background-color: #f5f5f5;
}
.cards > div:hover h3::before {
	color: #f5f5f5;
}
.cards > div:nth-child(5) {
	position: relative;
	overflow: hidden;
}
.cards > div:nth-child(5)::before {
	content: "";
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: #004d80;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 40%;
	z-index: -1;
}
.cards .five:hover::before {
	animation: fill 7s ease-in-out infinite;
	visibility: visible;
}

@keyframes fill {
	from {
		top: 250px;
		transform: translateX(-50%);
		rotate: (0deg);
	}
	to {
		top: -50px;
		transform: translateX(-50%);
		rotate: (360deg);
	}
}

@media (max-width: 750px) {
	#service {
		height: fit-content;
		width: fit-content;
		display: grid;
		place-items: center;
	}
	.service-text {
		width: 430px;
	}
	.cards {
		grid-template-rows: repeat(9, auto);
		grid-template-columns: repeat(1, auto);

		grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"five"
			"six"
			"seven"
			"eight"
			"nine";
	}
	.cards > div {
		width: 350px;
		margin-left: -40px;
		margin: 0 auto;
	}
	#technology .corner {
		top: -0%;
		left: 14%;
	}
	.service-text h2::after {
		top: 100px;
	}
}

/* end service  */

/* end nav  */
/* start video ann text  */

/* stert tech  */
#technology{
	background-color: #f5f5f5;
	height: 193vh;
	margin-top: -19px;
	position: relative;
}
#technology::after{
	content: "";
	background-color: #ddd;
	position: absolute;
	bottom: -50px;
	width: 1850px;
	height: 300px;
	left: -240px;
	border-radius: 50%;
	z-index: 0;
	overflow-y: hidden;
}
#technology .title p{
	width: 360px;
}
#technology .corner{
	top: -12%;
	right: 30%;
}
.content{
	display: flex;
	flex-direction: column;
}
.content >div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	padding-left: 20px;
}
.content div .textarea{
	width: 60%;
	height: 150px;
	position: relative;
	padding-top: 30px;
	padding-left: 30px;
}
.content div .textarea:hover{
	background-color: #f5f5f5;
}
.content div .textarea::before{
	content: "";
	height: 60px;
	position: absolute;
	top: 64px;
	left: 6px;
	background-color:grey;
	width: 2px;
}
.content div .buildings{
	width: 20%;
}
.content div i{
	position: absolute;
	top: 32px;
	left: 0px;
}
.content>div{
	z-index: 1;
}
@media(max-width: 768px;){
	#technology .corner{
		top: -1%;
	}
	
}
@media(max-width:768px){
	.content .first .textarea{
	margin-bottom: 30px;
	}
	#technology::after{
		left: -577px;
	}

}
@media(max-width:750px){
	.serv .corner{
		top: -45px;
	}
}

@media(max-width:715px){
	.content>div{
		justify-content: start;
	}
	#technology .title{
		padding-right: 140px;
	}
	#technology+#tesimonials  .corner{
		left: 30%;
	}
}
@media(max-width:620px){
	.content>div{
		max-width: 550px;
	}
	#technology .title{
		padding-right: 260px;
	}
	#technology+#tesimonials  .corner{
		left: 20%;
	}
	.content >div p{
		font-size: 14px;
	}
}
@media(max-width:500px){
	#technology .title{
		padding-right:0 ;
	}
	#tesimonials .corner{
		left: 70%;
		top: -3%;
	}
	#technology .corner{
		top: -3%;
		right: -25%;
	}
	.content >div {justify-content: space-around;}
	.content .first{
		margin-bottom: 50px;
	}
	.content >div p{
		font-size: 12px;
	}
	#technology+#testimonials .corner{
		left: 50%;
		top:0%
	}

	#technology .title h2{
		font-size: 40px;
	}
}
/* start testimo */

#testimonials .title h2::before {
	background-color: #F39C12;
}
.white-span{
	color: #f5f5f5;
	margin-left: -3px;
}
#testimonials .corner{
	top: -12%;
	left: 56%;

}
#testimonials .title p{
	width: 430px;
position: relative;
}
#testimonials .title p::after{
	content: "";
	width: 100px;
	height: 100px;
	background-color: #F39C12;
	border-radius: 50%;
	color: #f5f5f5;
	top: 0px;
	right: -14px;
	position: absolute;
	z-index: -1;
}
.test-cards{

	display: flex;
	justify-content: space-around;
}
.test-cards>div{
	width: 30%;
	height: 180px;
	background-color: #ddd;
	position: relative;
	display: flex;
	align-items: start;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 10px;
border-radius: 12px;
}
.test-cards .two2 .portfolio{
	background-color: #ddd;
    border-radius: 50%
}
.portfolio{
	width:100px;
	position: absolute;
	top: -40px;
	right: -10px;
}
.test-cards span{
	opacity: 0.7;
	margin-top: 8px;
	margin-bottom: 8px;
}
.rate{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: fit-content;
	height: fit-content;
	margin-bottom: 20px;
}
.rate i{
	filter: invert(82%) sepia(46%) saturate(881%) hue-rotate(355deg) brightness(97%) contrast(108%);
}
@media(max-width:850px){
	.test-cards .three3{
		display: none;
	}
	.test-cards>div{
		width: 40%;
	}
}
@media(max-width:750px){
	#testimonials .corner{
	top: -14%;
	left: 45%;
	}
.test-cards .two2{
	display: none;
}
#testimonials .title{
	/* margin-right: 25%; */
	margin: 0 auto;
}
.test-cards{
	margin-right: 25%;
}
.test-cards .one1{
	width: 50%;

}
}
@media(max-width:500px){
	#testimonials .title{
		margin-right: 0%;
	}
	.test-cards{
		margin-right: 0%;
	}
	#testimonials .title p{
		font-size: 15px;
		/* left: -24px; */
		margin: 0 auto;
	}
	#testimonials .title p::after{
		width: 104px;
	}
	#testimonials .title h2{
		font-size: 40px;
	}
	#testimonials .corner{
		top: -3%;
		left: 49%;
	}
	
	.test-cards .one1{
		width: 70%;
		left: -18px;
	}
}

/* end testimo */
/* start pricing */
#pricing{
	background-color: #ddd;
	z-index: -1;
    position: relative;
	height: 135vh;
}
#pricing::before{
	content: "";
	position: absolute;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	top: 15%;
	left: -8%;
	background-color: #229c3d;
}

#pricing .corner{
	top: -12%;
	left: 47%;
}
 #pricing .title h2::before{
	background-color: #229C3D;
 }


 #pricing .title p{
	width: 330px;
	text-align: center;
	position: relative;
 }
 #pricing .title .diff::after{
	content: "";
	width: 100px;
	height: 100px;
	background-color:#229C3D ;
	border-radius: 50%;
	color: #f5f5f5;
	top: 0px;
	right: -20px;
	position: absolute;
	z-index: -1;
 }
 .subs{
	width: 100%;
	height: 63vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
 }
 .subs >div{
	width: 280px;
	height: 85%;
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 13px;
	transition: ease 0.7s;
 }
 .subs >div .plan{
	display: flex;
	height: 50%;
	justify-content: space-between;
 }

 .subs >div .plan i{
	font-size: 30px;
 }
 .subs >div:nth-child(2){
	height: 100%;
 }
 .plan .text-p h3{
	margin-top: 10px;
	margin-bottom: 7px;
	font-size: 30px;
 }
 .plan .text-p h5{
	opacity: 0.7;
 }
 .advantages{
	position: relative;
 }
 .advantages h5{
	margin-left: 15px;
	margin-bottom: 8px;
 }
 .advantages .gg{
position: absolute;
top: -1px;
left: -5px;
 }
 .advantages .gk{
	position: absolute;
	top: 22px;
	left: -5px;
	 }
	 .advantages .gh{
		position: absolute;
		top:45px;
		left: -5px;
		 }
		 .pricing-btn{
			width: 80%;
			height: 30px;
			border-radius: 8px;
			bottom: -90px;
			left: 10%;
			position: absolute;
			border-style: none;
			background-color: #ddd;
			transition: ease 0.7s;
		 }
		 .o2 .pricing-btn{
			bottom: -94px;
		 }
		 .advantages .gr{
			position: absolute;
top: 68px;
left: -5px;
		 }
		 .advantages .gp{
			position: absolute;
top: 94px;
left: -5px;
		 }
	
		.o3 .advantages .pricing-btn{
			bottom: -42px;
			 margin-top: 10px;
			
		}

		.subs>div:hover{
			background-color: #484848;
			color: #f5f5f5;
		}

		.subs>div:hover .pricing-btn{
			background-color: #229c3d;
			color: #f5f5f5;
		}
		@media(max-width:990px){
			#pricing{
				height: 190vh;
			}
			.subs >div:nth-child(2){height: 85%;
			}
			.subs >div:nth-child(3){
				margin-top: 30px
			}
			.subs>div .pricing-btn{
				bottom: -65px;
			}
		}
		@media(max-width:900px){
            

			.subs >div:nth-child(2){
				margin-right: 10px;
				margin-left: 10px;
				height: 85%;
			}
			.o2 .pricing-btn{
				bottom: -75px;
			}
			#pricing{
				height: 185vh;
			}
			.subs>div:nth-child(3){
				margin-top: 40px;
			}
			#pricing .container{
				height: 100%;
				width: 100%;
			}
			#pricing .corner {
				top: -8%;}
		}
		@media(max-width:630px){
.subs .o1{
	margin-bottom: 40px;
}
#pricing {
    height: 237vh;
    margin-top: -175px;
}
#pricing .corner {
    top: -6%;
}
		}
		@media(max-width:503px){
			#pricing .corner {
				top: 0%;
			}
		}



/* end pricing */
/* start about */
#about-us{
	height: 110vh;
	background-color: #f5f5f5;
	margin-top: 50px;
}
#about-us .title h2::before{
	background-color: #FF6F61;
}
.info{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
height: 30vh;
}
.text-about{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 45%;
	position: relative;
	line-height: 35px;
	height: 100%;
}
.text-about::before{
	content: "";
	position: absolute;
	background-color: #ddd;
	width: 2px;
	height: 100%;
	top: 0%;
	right: -35%;
}
.text-about p{
	font-size: 19px;
}


.text-about span{
	font-weight: bold;
	text
}

.text-about button{
	position: absolute;
	width: 150px;
	height: 32px;
	border-style: none;
	border-radius: 10px;
	color:#f5f5f5;
left: 0%;
bottom: -6%;
background-color: #FF6F61;
}

.boxes{
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	width: 290px;
	flex-wrap: wrap;
}
.boxes>div{
	width: 110px;
	height: 110px;
	border-radius: 10px;
border: 1px solid var(--border, rgba(181, 179, 179, 0.47));
background: #FFFDFD;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: ease 0.7s;
}
.boxes>div h5{
	text-align: center;
	margin-top: 10px;
	opacity: 0.7;
}
.boxes>div:nth-child(4) h5{
	width: 75px;
}
.boxes .box1+.box2{
	margin-bottom: 20px;
}
.boxes>div:hover{
	border-radius: 10px;
background: #FFF;


box-shadow: 10px 10px 26px -3px rgba(0, 0, 0, 0.25);
}
@media(max-width:990px){
	#about-us{
		margin-top: 370px;
		height:120vh ;
	}
	.text-about::before{
		right: -13%;
	}
	.text-about {line-height: 30px;}
	.text-about p {font-size: 18px}
}
@media(max-width:900px){
	#about-us .corner{
		top: -18%;
		left: 50%;
	}
	#about-us{
		margin-top: 0;
	}
}
@media(max-width:760px)
{
	.text-about button {
		bottom: -25%;}
}
@media(max-width:670px)
{.text-about button {
	bottom: -37%;}
}
@media(max-width:600px){
	#pricing{
		height: 244vh;
	}
	#about-us{
		height: 160vh;
		margin-top: 0px;
	}
	.info{
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}
	.text-about::before {
		display: none;
}
.text-about::after{
	content: "";
	position: absolute;
	background-color: #ddd;
	width: 100%;
	height: 2px;
	top: 151%;
    right: 6%;
}
.text-about{
	margin-bottom: 120px;
}
.text-about {
    line-height: 26px;
}
#about-us .corner {
    top: -11%;}
}
@media (max-width: 520px){
 .text-about p {
    font-size: 17px;
}}
@media (max-width: 502px){
	.text-about{
		width: 50%;
	}

}
@media (max-width: 502px){
	.text-about p {
		font-size: 16px;
	}
	#about-us .corner {
		top: -1%;
		left: 56%;
	}
}


/* end about */






/* end tech */

/* end video ann text  */

/* end main page style  */

