/* Start Global Rule  */
:root {
	--main-color: #004d80;
	/* --main-color-alt: #1787e0; */
	/* --second-color: #ececec; */
	--btn-color: #ff6f61;
	--background-color: #f5f5f5;
	--big-radius: 15px;
	--small-radius: 10px;
}

body {
	font-family: "Cairo", sans-serif;
	height: 600vh;
	max-width: 100%;

	/* overflow-x: hidden; */
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.parent {
	overflow-x: visible;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100vh;
}
.title {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.title h2 {
	position: relative;
	padding-bottom: 10px;
	font-size: 60px;
}
.title p {
	padding-top: 20px;
	padding-bottom: 80px;
	max-width: fit-content;
	text-align: center;
}
.title h2::before {
	content: "";
	position: absolute;
	width: 60%;
	left: 20%;
	height: 2px;
	bottom: 0;
	background-color: var(--main-color);
}
@media (max-width: 500px) {
	.title h2 {
		position: relative;
		padding-bottom: 10px;
		font-size: 40px;
	}
}

.title + .corner {
	position: absolute;
	transform: translate(60%, 50%);
}
@media (max-width: 500px) {
	.title + .corner {
		position: absolute;
		transform: translate(70%, 50%);
		width: 10px;
	}
	.title + .corner svg {
		width: 70px;
		transform: translate(40%, 0%);
	}
}

@media (max-width: 768px) {
	.serv .title + .corner {
		transform: translate(60%, 20%);
	}
}
@media (max-width: 500px) {
	.title + .corner {
		transform: translate(40%, -30%);
	}
}

section {
	padding-top: 150px !important;
	padding-top: 50px;
}

/* Very Small  */
@media (max-width: 768px) {
	.container {
		width: 400px;
		width: calc(100% - 30px);
	}
	.links {
		display: none;
	}
}
/* Small  */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large  */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rule  */
/* start main page style  */
/* start nav  */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	max-width: 100%;
	background-color: red;
}
/* @media (max-width: 768px) {
	nav {
		width: 500px;
	}
} */
/* menu bar  */
.bar-container .bar-parent {
	width: 300px;
	height: 500px;
	position: absolute;
	overflow: hidden;
	transform: translate(-200px, 0px);
}
.bar-container #bar {
	transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
}
.bar-container #bar ul {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	position: absolute;
	backdrop-filter: blur(5px) saturate(70%);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.bar-container #bar ul li {
	padding: 10px 20px;
	padding-right: 60px;
}
.bar-container .menu-bar {
	cursor: pointer;
	padding-right: 10px;
}
.bar-container .menu-bar div {
	background-color: white;
	width: 40px;
	height: 4px;
	border-radius: 5px;
}
.bar-container .menu-bar .bar1,
.bar-container .menu-bar .bar2 {
	margin-bottom: 8px;
}
/* nav::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #ddd;
	top: 150%;
} */
/* menu bar  */
nav {
	border-bottom: 1px #ddd solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	filter: brightness(100%);
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
}
nav .logo {
	font-size: large;
	font-weight: bold;
	margin-bottom: 5px;
	color: white;
}

nav .links {
	display: flex;
	justify-content: space-around;
}

#bar {
	display: flex;
	flex-direction: row;
	transform: translate(-300px, 0);
}
nav .links > ul {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

nav .contact-btn::before {
	content: "";
	position: absolute;
	height: 80%;
	width: 3px;
	background-color: #000;
	top: 8%;
	right: 130px;
	border-radius: 50px;
}

nav .links > ul li {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

nav .links > ul li::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #ddd;
	bottom: -9px;
	left: 0px;
	z-index: 1;
}

nav ul li:hover a {
	color: var(--btn-color);
}

nav ul li:hover::after {
	background-color: var(--btn-color);
}
nav ul li {
	padding-bottom: 5px;
}
nav ul li a {
	text-decoration: none;
	color: #ffffff;
	transition: ease 0.7s;
}
nav .links {
	/* display: flex; */
	align-items: center;
}
nav .links .contact-btn {
	/* height: 25px;
	width: 130px; */
	background-color: var(--main-color);
	border-radius: var(--small-radius);
	border-style: none;
	/*display: grid;
	place-items: center; */
	padding: 10px;
	margin-bottom: 5px;
	transition: ease 0.7s;
	margin-left: 18px;
}
nav .links .contact-btn:hover {
	background-color: var(--btn-color);
}

.contact-btn a {
	color: #f5f5f5;
	text-decoration: none;
	padding: 10px;
}
.text-container {
	position: absolute;
	top: 40%;
}

.text-container h2 {
	text-transform: uppercase;
	color: white;
	padding-left: 20px;
	font-size: 50px;
}
.text-container h2 span {
	color: var(--main-color);
}
.text-container p {
	width: 300px;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
	color: white;
	width: 300px;
	margin-top: 10px;
}

.text-container .text {
	backdrop-filter: blur(5px) saturate(70%);
	margin: 0 auto;
}

.video-bck {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0px;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: #4e4848;
}
@media (max-width: 768px) {
	.links > ul:first-child {
		visibility: hidden;
	}
}
/* end main  */
/* start service */
.serv {
	background-color: #ddd;
}
#service {
	position: relative;
	height: 143vh;
	background-color: #ddd;
}
@media (max-width: 500px) {
	#service .title + .corner svg {
	
/* end main  */

/* start service */

.cards {
	display: grid;
	gap: 35px;
	row-gap: 100px;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"one two three"
		"four five six"
		"seven eight nine";
}
.cards div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cards > div {
	transition: ease 0.7s;
	padding-top: 25px;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.pic {
	position: relative;
	height: 85px;
	margin-bottom: 20px;
}

.cards div svg {
	margin-bottom: 25px;
}

.cards div .pic::after {
	position: absolute;
	content: "";
	z-index: -1;
	background-color: #ddd;
	border-radius: 50%;
	top: -10px;
	width: 90px;
	height: 90px;
}
.cards div h3 {
	margin-bottom: 25px;
	position: relative;
}
.cards div h3::after {
	content: "";
	position: absolute;
	width: 140px;
	height: 2px;
	background-color: #004d80;
	top: 35px;
	left: 0;
	transition: ease 0.7s;
}
div.jk h3::after {
	width: 165px;
}
div.jm h3::after {
	width: 127px;
}
div.jk:nth-child(2) h3::before {
	content: "5G";
	color: #d1160a;
	right: -30px;
	position: absolute;
	transition: ease 0.7s;
}

div.iio h3::after {
	background-color: #d1160a;
}
div.oo2 h3::after {
	background-color: #229c3d;
}

.cards > .th1:hover {
	background-color: #004d80;
	color: #f5f5f5;
}
div.iio:hover {
	background-color: #d1160a;
	color: #f5f5f5;
}
div.oo2:hover {
	background-color: #229c3d;
	color: #f5f5f5;
}

.cards > div:hover h3::after {
	background-color: #f5f5f5;
}
.cards > div:hover h3::before {
	color: #f5f5f5;
}
.cards > div:nth-child(5) {
	position: relative;
	/* overflow: hidden; */
}
.cards > div:nth-child(5)::before {
	content: "";
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: #004d80;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 40%;
	z-index: -1;
}
.cards .five:hover::before {
	animation: fill 7s ease-in-out infinite;
	visibility: visible;
}

@keyframes fill {
	from {
		top: 250px;
		transform: translateX(-50%);
		rotate: (0deg);
	}
	to {
		top: -50px;
		transform: translateX(-50%);
		rotate: (360deg);
	}
}

@media (max-width: 750px) {
	.service-text {
		width: 430px;
	}
	.cards {
		grid-template-rows: repeat(9, auto);
		grid-template-columns: repeat(1, auto);

		grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"five"
			"six"
			"seven"
			"eight"
			"nine";
	}
	.cards > div {
		width: 350px;
		margin-left: -40px;
	}
}

/* end service  */

/* end nav  */
/* start video ann text  */

/* stert service  */

/* end service */

/* end video ann text  */

/* end main page style  */
